@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    font-family: Lato, sans-serif
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

nav {
	background-color: #4C0039;
}

#featured {
    background-image: url("images/gray-background.png");
}

#icons a {
    text-decoration: none !important;
    width: 16%;
}

#icons img {
    width: 30%;
    height: 30%;
}

#icons h6 {
    padding: 10%;
}

.btn-default {
			 width: 100px;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}